<h1>Control Structure</h1>

<div>
  <div *ngFor="let product of products">
    <img width="250" [src]="product.image" alt="">
    <h2>{{ product.price }}</h2>
    <p>{{ product.name }}</p>
  </div>
</div>

<input type="text" required [(ngModel)]="newName">
<button (click)="addName()">Add Name</button>
<ul>
  <li *ngIf="names.length === 0">No hay nombres</li>
  <li *ngFor="let name of names; index as i">{{i}} {{ name }}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>

<input type="text" required [(ngModel)]="person.name">
<p *ngIf="person.name === 'Lucas'">Soy Lucas</p>
<p *ngIf="person.name === 'Lupe' && person.age === 36; else elseBlock">Soy Lupe</p>
<ng-template #elseBlock>
  <p>Bloque de else</p>
</ng-template>

<hr>
<h1>Data Binding</h1>

<p>Name: {{person.name}}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name">
<p>Valid: {{nameInput.valid}}</p>
<p>Age: {{person.age}}</p>
<input type="number" max="40" min="34" required #ageInput="ngModel" [(ngModel)]="person.age">
<p>Valid: {{ageInput.valid}}</p>
<hr>
<h1>Event Binding</h1>

<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">Toggle Button</button>
<p>Edad: {{person.age }}</p>
<button (click)="increaseAge()">Age ++</button>
<div class="box" (scroll)="onScroll($event)">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam mollitia magni ipsum possimus distinctio rem doloribus sapiente. Iste aut harum natus maiores et ducimus earum doloribus soluta, praesentium corrupti. Quibusdam.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam mollitia magni ipsum possimus distinctio rem doloribus sapiente. Iste aut harum natus maiores et ducimus earum doloribus soluta, praesentium corrupti. Quibusdam.</div>
<p>Name: {{person.name}}</p>
<input type="text" [value]="person.name" (keyup)="changeName($event)">


<hr>
<h1>Property Binding</h1>

<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.name">
<progress max="100" [value]="person.age"></progress>
<img width="100" [src]="person.avatar" alt="">

<hr>
<h1>String Interpolation</h1>

<h1>Hola Mundo!</h1>
<h2>{{'Hola mundo'.repeat(5)}}</h2>
<p>3 + 3 = {{3 + 3 }}</p>
<h3>Hola, soy {{ name }} y tengo {{ age }}</h3>
<img src={{img}} alt="img">

<hr>

